{% load bootstrap3 %}
{% block title %}{% endblock %}

{% block content %}
	<div class="features">
		<h1>Все заявки</h1>

		{% for el in art %}
			<div>
				<h3>{{ el.number }}</h3>
				<p>{{ el.mail }}</p>
				<p>{{ el.name }}</p>
				<p>{{ el.op }}</p>
				<p>{{ el.course }}</p>
				<p>{{ el.project_name }}</p>
				<p>{{ el.teach_name }}</p>
				<p>{{ el.phone }}</p>
				<p>{{ el.dmodel }}</p>
				<p>{{ el.note }}</p>
				<p>{{ el.comment }}</p>
				<p>{{ el.status }}</p>
				<a href="edit/{{el.number}}">Изменить статус</a>
			</div>
		{% endfor %}
		<span>{{ error }}</span>
	</div>
{% endblock %}